<div ui-content-for="title">
  <span>Last Calibration</span>
</div>

<div ui-content-for="navbar-left">
  <a href="/cgm/sensor" class="btn btn-navbar btn-icon-only"><i class="fa fa-chevron-left fa-navbar"></i></a>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group">
      <em ng-if="!sensor.lastCalibration" class="list-group-item">No calibrations</em>
      <span ng-if="sensor.lastCalibration" class="list-group-item">{{ sensor.lastCalibration.date | date:'MMM d, y @ h:mm a' }}
        <span class="pull-right">{{ sensor.lastCalibration.glucose | glucose }} mmol/L</span></span>
    </div>
  </div>
</div>
