<div class="scrollable">
  <div class="scrollable-content section">
    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home text-primary" ng-if="sensor.inSession">
        <div >
          {{ glucoseAge | time }} ago
          <br>
          {{ sensor.stateString }}
        </div>
        <div>
            <h1 class="home-heading">
              {{ sensor.glucose.glucose | glucose: true }}
              <span ng-bind-html="arrow()"></span>
            </h1>
            (filtered: {{ sensor.glucose.filtered | glucose: true }}, unfiltered: {{ sensor.glucose.unfiltered | glucose }})
            <!-- +4 mg/dl -->
        </div>
      </div>

      <div class="list-group-item list-group-item-home" ng-if="!sensor.inSession">
        <button class="btn btn-warning" ng-click="start()">Start sensor</button>
        <button class="btn btn-warning" ng-click="backstart()">Start sensor 2 hours ago</button>
      </div>


      <div class="list-group-item list-group-item-home">
        <a class="list-group-item" href="/cgm/sensor/calibrate">Calibrate</a>
      </div>

      <div class="list-group-item list-group-item-home">
        Last enacted {{ enactedAge | time }} ago
        <p>{{ loop.enacted.rate | number:2 }} U/hour for {{ loop.enacted.duration }} min</p>
        <p ng-if="loop.enacted.units">SMB {{ loop.enacted.units | number:2 }} U</p>
        <!--  {{ data.enacted.duration }} + SMB {{ data.enacted.units|default("0", true) }}U</p> -->
      </div>
      <div class="list-group-item list-group-item-home">
        <glucose-chart></glucose-chart>
      </div>
  </div>
</div>

      <!-- the original calibration form, left here for now for comparison -->
      <!-- <form name="form" class="col-md-12" ng-if="canBeCalibrated" ng-submit="form.$valid && (calibration.value) && calibrate(calibration.value)">
        <div class="form-group">
          <label for="blood-glucose">BGL (mg/dL)</label>
          <input type="number" min="40" max="400" class="form-control" name="blood-glucose" ng-model="calibration.value" placeholder="BGL"/>
        </div>
        <button class="btn btn-primary" type="submit" ng-disabled="!form.$valid || (!calibration.value)">Calibrate</button>
      </form> -->
    <!-- </div>
  </div>
</div> -->
